<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="{{webPath}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Prism Code highlighter -->

    <link rel="stylesheet" href="prism/prism.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-neutral-dark flex" style="flex-direction: column; min-height: 100vh">
<header class="text-white p-4 border-t-5 border-secondary bg-contrast" >
    <a class="font-xl text-center block" href="/">
        LENKRAD - The modern PHP core
    </a>
    <div class="text-center">{{name}}</div>
</header>
<div class="flex flex-1">
    <div class="bg-neutral border-r-3 border-secondary" style="min-width: 230px" x-data="{isCurrent: (route) => route === '{{currentRoute}}'}">
        <div class="font-lg p-3 bg-contrast-light">Basics</div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs') }">
            <a href="/docs">Getting Started</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/routing') }">
            <a href="/docs/routing" >Routing</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/models') }">
            <a href="/docs/models">Models</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/templating') }">
            <a href="/docs/templating">Templating</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/request') }">
            <a href="/docs/request">Request</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/response') }">
            <a href="/docs/response">Response</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/cli') }">
            <a href="/docs/cli-basics">Basic CLI commands</a>
        </div>
        <div class="font-lg p-3  bg-contrast-light mt-3">Advanced</div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/middleware') }">
            <a href="/docs/middleware">Middleware</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/dependency-injection') }">
            <a href="/docs/dependency-injection">DI-container</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/events') }">
            <a href="/docs/events">Events</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/dynamic-store') }">
            <a href="/docs/dynamic-store">Dynamic Store</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/cli') }">
            <a href="/docs/cli">CLI tool</a>
        </div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/cli') }">
            <a href="/docs/custom-attributes">Custom attributes</a>
        </div>
        <div class="font-lg p-3 bg-contrast-light mt-3">Deployment</div>
        <div class="pl-3 pt-2 pb-1" :class="{'border-l-3 border-primary': isCurrent('/docs/deploy') }">
            <a href="/docs/deploy">Deploy your app</a>
        </div>
    </div>
    <main class="flex-1 p-5">
        <div>{{main}}</div>
        <section class="w-4/5 xl:w-3/5 xxl:w-3/5 m-x-auto mt-5">
            <h2>Before you move on</h2>
            <blockquote>
                Many references on this page assume default settings. Your project might differ in behavior, paths etc.
            </blockquote>
            <div class="scroll-spy fixed bottom-17 right-3">
                <button class="button-neutral-light cursor-pointer shadow-neutral" style="width: 50px; height: 50px; border-radius: 50%" onclick="backToTop()">GO UP</button>
            </div>
        </section>
    </main>

</div>
<footer class="mt-5 bg-neutral border-secondary-light border-t-2 p-4">
    <div class="grid grid-cols-5">
        <div class="copy">
            &copy; {{year}} neoan OPENSOURCE
        </div>
        <div class="span-x-3">
            This site is using <a href="https://github.com/sroehrl/lenkrad-web-starter#readme">lenkrad-web-starter</a>
        </div>
        <div class="github place-start-end">
            <a href="https://github.com/sroehrl">Support me on Github</a>
        </div>
    </div>

</footer>

<script src="prism/prism.js"></script>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="js/global.js"></script>


</body>
</html>