<section class="w-4/5 xl:w-3/5 xxl:w-3/5 m-x-auto mt-5">
    <h1>Starter Projects</h1>
    <h2 class="mt-1 ">Official Packages</h2>
    <div class="grid md:grid-cols-3 gap-5 mb-5 ">
        <div>
            <a href="https://github.com/sroehrl/lenkrad-web-starter#readme"
               class="block border-t-3 border-primary bg-neutral p-3 text-center cursor-pointer text-primary hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"/>
                </svg>

                <p class="font-lg">Lenkrad web-starter</p>

            </a>
            <p>
                A clean and simple project setup ideal for web-projects and perfect to get started with LENKRAD.
            </p>
            <ul style="list-style: circle;" class="pl-4">
                <li>Attribute routing enabled</li>
                <li>Clean structure</li>
                <li>Prepared for SQLite & MySQL</li>
                <li>Github Template installation available</li>
                <li>Additional CLI command & templating</li>
            </ul>
        </div>
        <div>
            <a href="https://github.com/sroehrl/neoanio-rest-starter#readme"
               class="block border-t-3 border-secondary bg-neutral p-3 text-center cursor-pointer text-secondary hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"/>
                </svg>

                <p class="font-lg">Lenkrad REST-starter</p>

            </a>
            <p>
                A powerful REST-API starter setup. Ideal for your dedicated backend.
            </p>
            <ul style="list-style: circle;" class="pl-4">
                <li>Attribute routing enabled</li>
                <li>Clean structure</li>
                <li>Route guards (authentication)</li>
                <li>JWT stateless authentication & authorization</li>
                <li>SQLite out of the box (one line to change to MySQL)</li>
                <li><a href="https://youtu.be/m8lzHqe5k0o">Video tutorial</a></li>
            </ul>
        </div>
        <div>
            <a href="https://github.com/sroehrl/neoanio-starter#readme"
               class="block border-t-3 border-accent bg-neutral p-3 text-center cursor-pointer text-accent hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M4.5 10.5H18V15H4.5v-4.5zM3.75 18h15A2.25 2.25 0 0021 15.75v-6a2.25 2.25 0 00-2.25-2.25h-15A2.25 2.25 0 001.5 9.75v6A2.25 2.25 0 003.75 18z" />
                </svg>


                <p class="font-lg">Neoan.io-starter</p>

            </a>
            <p>
                A web project with complexity. This is ideal for the deep divers (and therefore not recommended as a first LENKRAD project)
            </p>
            <ul style="list-style: circle;" class="pl-4">
                <li>Route guards (authentication)</li>
                <li>Session + JWT based authentication</li>
                <li>Glassmorphism design</li>
                <li><a href="https://youtu.be/bDjd0EsuTV4">Video tutorial</a></li>
            </ul>
        </div>
    </div>
    <h2 class="mt-1 ">Community Packages</h2>
    <p>
        Want to contribute? Issue a ticket at <a href="https://github.com/sroehrl/php-lenkrad-docs/issues">Github</a> with your project.
        We'd love to feature you!
    </p>
</section>